<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title > 
     </title>
     <style>
        .center {
          margin: auto;
          width: 60%;
          /* border: 3px solid #111110; */
          padding: 10px;
        }
        </style>
    <link rel="stylesheet" type="text/css" href="/app.css">
</head>
<body>
    <div class="center">
<h1> Movie : </h1> 
<img src = "<%= imgpath %>" />

<br>
Title: <%= name %>
<br>
Release Date: <%= release_date %>

<br>
Ratings: <%= ratings %>

<br>
Description: <%= desc %>
</div>
</body>
</html>

